*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --bg-colorprimario:rgb(184,0, 245);
    ---colorsecundario: rgb(98, 2, 129);
    --txt-primario :rgb(0, 0, 0);
    --ancho50:50%;
    --arial: Arial, Helvetica, sans-serif;
    --transicion: all 0.3 ease-in-out;
    --sombra-chica: 0px 0px 5px rgba(0, 0, 0, 5);
    --sombra-grande: 0px 0px 20px rgba(255, 255, 0, 5)
}

body{
    height: 100vh;
    
    background-color: blueviolet;
    color: white;
    font-family: var(--arial);
}

.bienvenida{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.logobienvenida{
    height: 20vh;
    width: 20vw;
    box-shadow: var(--sombra-grande);
}

.logo{
    height: 80px; 
    width: 110px;
    margin: auto;
    mix-blend-mode: multiply;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;


}